<form [formGroup]="mentorForm" >
  <div class="grid">
    <div class="col-2">
      <mat-form-field class="w-full" >
        <input class="width-full" matInput placeholder="first_name" formControlName="name">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="w-full" >
        <input class="width-full" matInput placeholder="User Type" formControlName="usertype">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="w-full" >
        <input class="width-full" matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select formControlName="status">
          <mat-option value="">None</mat-option>
          <mat-option value="active">Active</mat-option>
          <mat-option value="pending">Pending</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <button
        mat-button
        class="bg-primary"
        (click)="handleFilter()"
      >
        Filter
      </button>
    </div>
  </div>
</form>


<div class="grid">
  <div class="col">
    <table
      mat-table
      [dataSource]="mentorCollect"
      class="mat-elevation-z8 width-table"
    >
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.civility}}. {{element.last_name}} {{ element.first_name}} </td>
      </ng-container>
      <ng-container matColumnDef="UserType">
        <th mat-header-cell *matHeaderCellDef> User Type</th>
        <td mat-cell *matCellDef="let element"> {{element.company.user_type}} </td>
      </ng-container>
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <span [class]="element.user_status === 'active'? 'active': 'passive'">
        </span></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
